body {	
    margin-top: 5px;
    text-align: center;
}

button {
    background-color: black;
    border: none;
    border-radius: 0;
    color: white;
    height: 50px;
    margin: 5px;
    width: 80px;
}

canvas {
	display: block;
	margin: auto;
}

h1 {
	margin-bottom: 5px;
}

header {
    margin-bottom: 10px;
}

p {
	margin: 5px auto;
}

.buttons {
    margin: 20px;
    order: 2;
}